main{
  display: flex;
  flex-direction: row;
  min-width: 320px;
  width: 100%;
  padding: 20px;
}


shared-sidebar{
  width: 20%;
  padding: 0 40px;
}

::ng-deep app-by-capital-page,
::ng-deep app-by-region-page,
::ng-deep app-by-contry-page,
::ng-deep app-country-page{
  width: 80%;
}
